html {
    background-color:rgb(236, 240, 240);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav {
    background-image: url("non_copyrighted_GT86.jfif");
    overflow: hidden;
}

.nav a {
    float: left;
    text-align: center;
}

.nav a:hover {
    background-color:darkred;
    color: black;
}

p {
    width: 60%;
}
