html {
    background-color:rgb(236, 240, 240);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    opacity: 0.4;
}

p {
    width: 60%;
}
